{% extends "shop/_base.html" %}
<!--  -->
{%block title%}Register to Kirito's Shop{% endblock title%}
<!--  -->
{% block index %}
<!--  -->
{% load static %}
<div class="p-20">
  <div class="max-w-sm mx-auto">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Sign up to our platform</h3>
      </div>
      <div class="p-4 md:p-5">
        <form class="space-y-4" method="post" id="signupForm">
          {% csrf_token %}
          <div>
            <label
              for="register_usernameInput"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your username</label
            >
            {{form.username}}
          </div>
          <div>
            <label
              for="register_passwordInput"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your Password</label
            >
            {{form.password}}
          </div>
          <div>
            <label
              for="register_repasswordInput"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Re-type your password</label
            >
            {{form.re_password}}
          </div>
          {% if register_error_message %}
          <p id="register_error_message" class="text-red-500 text-sm">
            {{ register_error_message }}
          </p>
          {% endif %}
          <div class="flex justify-between">
            <div class="flex items-start"></div>
          </div>
          <button
            type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Register
          </button>
          <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
            Have an account?
            <a href="{%url 'user_login'%}" class="text-blue-700 hover:underline dark:text-blue-500"
              >Login</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{%block scripts%}
<script src="{% static 'src/js/main.js'%}" defer></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const register_usernameInput = document.getElementById("register_usernameInput");
    const register_passwordInput = document.getElementById("register_passwordInput");
    const register_repasswordInput = document.getElementById("register_repasswordInput");
    const register_error_message = document.getElementById("register_error_message");

    register_usernameInput.addEventListener("input", function () {
      register_error_message.textContent = "";
    });
    register_passwordInput.addEventListener("input", function () {
      register_error_message.textContent = "";
    });
    register_repasswordInput.addEventListener("input", function () {
      register_error_message.textContent = "";
    });
  });
</script>
{%endblock scripts%}
<!--  -->
{% endblock index %}
